# Backend Configuration
DB_HOST=postgres
DB_PORT=5432
DB_NAME=fintech_db
DB_USERNAME=fintech_user
DB_PASSWORD=FinTeck-123

# JWT Configuration
JWT_SECRET=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIwMTA4MjAyNjI3IiwibmFtZSI6IkZpblRlY2giLCJhZG1pbiI6dHJ1ZSwiaWF0IjoxNzg1NzMyMzQ1LCJleHAiOjE3ODU3MzU5NDV9.bhHU1FOHq_n9IQU57e7RJEV2EQ-K6GzNtU3UO7aeMuY
JWT_EXPIRATION=86400000

# Frontend Configuration
REACT_APP_API_BASE_URL=http://localhost:2027/api

# Spring Boot Configuration
SPRING_PROFILES_ACTIVE=dev

# PostgreSQL Configuration
POSTGRES_DB=fintech_db
POSTGRES_USER=fintech_user
POSTGRES_PASSWORD=FinTeck-123
